.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5em;
  padding: 0 3em;
  box-shadow: 0 2.5px 2.5px #888;
}

.header__logo {
  font-size: 2rem;
  font-weight: 700;
  color: #0290ff;
}

.header__nav {
  display: flex;
}

.header__nav > li {
  margin: 0 0 0 1em;
}

.header__nav-link {
  font-weight: 500;
  color: black;
}

.active {
  color: gray;
}
