.book-list-item {
  font-weight: 700;
  padding: 0.5em 0;
  border: 1px solid gray;
  margin: 0.5em;
  display: flex;
}

.book-list-item > button {
  margin: 0 1em;
  padding: 0.5em;
  background-color: aquamarine;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.book-list-item > button:hover {
  background-color: rgb(4, 218, 146);
}
